/*!
  Theme Name: nikita.global theme
  Theme URI: http://nikita.global
  Author: Nikita Menshutin
  Author URI: https://nikita.global
  Description: Custom theme: nikita.global, developed by Nikita Menshutin
  Version: 1.0.0
  License: GNU General Public License v2 or later
  License URI: LICENSE
  Text Domain: cweb24
  Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
section.restaurants .restaurants-block .restaurants-content .content-bottom .bottom-text p,
section.restaurants .restaurants-block .valentino-bontempi .valentino-text p {
    font-weight: normal!important;
}
.ta-logo {
    padding-top:0!important;
    /*    margin-top:-20px!important;*/
}
.ta-logo {
    height: 348px!important;
}
.ta-logo .widSSP {
    width:380px!important;

}
.widSSPData {
    border:none!important;
}
.pizzas-item h3 {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: #e83c21;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

section.pinzeria-social .social-block .pinzeria-tripadvisor .hr {
    border-bottom: none!important;
}
.address ul li:last-of-type,
.footer-address ul li:last-of-type {
    margin-top:1em;
}
.contacts-block {
    position: relative;
}
.contacts-block .map2 {
    position:absolute;
    bottom:0;
    right:0;
    width:568px;
}
.contacts-block .map2 {

}
.contacts-address .address-item-dostavka {
    min-height:400px!important;
}

section.pinzeria-social .social-block .pinzeria-facebook .pinzeria-fb-content ul li .content-img {
    width:113px;
    min-width:113px;
}
section.pinzeria-social .social-block .pinzeria-facebook .pinzeria-fb-content ul li {
    padding-bottom: 25px;
}
section.franchise-main {
    padding-top: 0px;
}
@media (max-width:991px) {

    .contacts-block .map2 {
        position:static;
        width:100%!important;

    }
    .contacts-address .address-item-dostavka {
        min-height:0!important;
    }  
}
.cwsubmitted {
    position:relative;
}
.form-block {
    position:relative;
}
.submittedresult {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-70%);
    font-size:30px;
}
.cwsubmitted h1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.cwsubmitted:before {
    content: attr(data-aftersubmit);
    font-size: 30px;
    color: #000;
    font-weight: 400;
}

section.restaurant .restaurant-block .restaurant-content .content-btn a {
    font-size:16px;
}
#toggleMenu .text {
    padding:0!important;
}